
 <!DOCTYPE html>
 <html>
 <head>
	<link rel="stylesheet" href="/Sources/ext/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/cliente/css/style.css">
	<link rel="icon" href="/Sources/icons/icons8-ligero-16.png">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="Width= device-width, initial=scale01.0">
	
	<script defer src="/cliente/js/app.js"></script>

 	<title>Florencia A. Fernández	</title>
 </head>

 <body>

	<%- include('./partials/nav') %>
	<div class="logo">
    
		<div class="h2header">	
			<img src="/Sources/icons/Picsart_23-03-21_22-59-50-755.png"alt="pluma">
			
		</div>
	</div>
	<div class="cuerpo">
		<div class="contenedor">
			<h1 class="tipeo">¡Bienvenidos!</h1>
			<p>Hola como estas blabakbkabkabkabak eiaurgoieugro c ra rgeoig acugurga gr iwegvaugawgawoiugtawitg</p>
			<p>aretyaewyaereraeuuu  ureuerureureuuertutruutrutuy trtutrurturturt rtutrutrutru</p>
			<p>eryreyyreurtuuwriwriwiwiwiwiw <br>etewqryeryryrweur uwtutrurqwuturewqwrewt <br>ytewqryutruwtu tuitrwuirt</p>
		</div>
	</div>

 	
 </body>

 <footer>	 
	<%- include('./partials/nav-foot') %>
 </footer>
 </html>