<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/Sources/ext/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/cliente/css/style.css">
	<link rel="icon" href="/Sources/icons/icons8-ligero-16.png">

    <script defer src="/cliente/js/app.js"></script>

    <title>Florencia A. Fernández</title>
</head>
<body>
<%- include('./partials/nav') %>
    <div class="cuerpo">
        
        <div class="contenedor">
            <h1 class="titulo">Redes</h1>
            <div class="contredes">
                <div class="redes"> <img src="/Sources/icons/icons8-tik-tok-128.png" alt="tik"></div>
                <div class="redes"> <img src="/Sources/icons/icons8-youtube-cuadrado-128.png" alt="yt"></div>
                <div class="redes"><img src="/Sources/icons/icons8-instagram-128.png" alt="inst"></div>
            </div>
        </div>
	
	</div>


    <footer>
        <%- include('./partials/nav-foot') %>
    </footer>
</body>



</html>