<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/Sources/ext/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/cliente/css/style.css">
	<link rel="icon" href="/Sources/icons/icons8-ligero-16.png">
    <title>Florencia A. Fernández</title>
</head>
<body>
    <%- include('./partials/nav') %>
    
    <h1 class="logo">Preventa</h1>
</body>
</html>