<header class="encabezado">

    <div class="navegacion">
        <a class="link" href="/" ><img src="/Sources/icons/icons8-ligero-60.png" alt="img_deli">
            <h2 class="iconodl">Inicio</h2>
        </a>
        <button class="toggle" aria-label="Abrir menú"><img src="/Sources/icons/icons8-menú-xbox-64.png"></img></button>
        <nav class="nav-bar">
            
            <ul class="nav-links">
                <li class="menu_item menu-show">   Libros <img  src="/Sources/icons/icons8-pluma-pluma-30.png" alt="">
                    <ul class="menu-vertical"><li><a class="links-vertical" href="/proyectos">Proyectos</a></li>
                        <li><a class="links-vertical" href="/publicados">Publicados</a></li></ul>
                <li class="menu_item menu-show">  Tienda <img  src="/Sources/icons/icons8-pluma-pluma-30.png" alt="">
                    <ul class="menu-vertical"><li><a class="links-vertical" href="/tienda">Preventa</a></li>
                        <li><a class="links-vertical" href="/lanzamientos">Lanzamientos</a></li></ul>
                    <li class="menu_item"><a href="/redes">   Redes <img  src="/Sources/icons/icons8-pluma-pluma-30.png" alt=""></li>
                    <li class="menu_item"><a href="/articulos">   Artículos <img  src="/Sources/icons/icons8-pluma-pluma-30.png" alt=""></a></li>
            </ul>
        </nav>
    </div>

 
  </header>